@using System
@using FinalProject_WhatsAPPening.Models;
@using FinalProject_WhatsAPPening;
@using Microsoft.Ajax.Utilities

@model FinalProject_WhatsAPPening.Models.ResultViewModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>WhatsAPPening</h3>
<p>
    GRAwesome is a team of four developers that joined hands through the Grand Rapids Grand Circus bootcamp in October 2016.
    Tasked with creating a web application in ten days, team GRAwesome set out to answer the every day question, "What should we do today!?"
<p>
    Wandering through websites takes time and is often unproductive, leaving you with too many options or events that aren't timely
    or relevant.
<p>
    WhatsAPPening is designed to provide an eatery and an activity based on input (zipcode, budget, number of guests, etc.)
    taking into account the time of day and location. If you don't like the outcome, try again! Each result utilizes
    both the Factual and Ticketmaster API's to generate random results.
<p>
    Additionally, you can click on the eatery and activity links to purchase tickets, get directions, browse websites, and find out more information.
<p>
    You may contact team GRAwesome at GRAwesome2016@gmail.com. We're for hire!
</p>

<TABLE>
    <TR>
        <td><a href="https://www.linkedin.com/in/maudu" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Doreen Troyer's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;</span></a></td>
        <TD><a href="mail to:michael.audu@aya.yale.edu">Email Michael Audu</a></TD>
    </TR>
    <TR>
        <td><a href="https://www.linkedin.com/in/joekosten" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Doreen Troyer's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;</span></a></td>
        <TD><a href="joekosten@gmail.com">Email Joe Kosten</a></TD>
    <TR>
        <td><a href="https://www.linkedin.com/in/crystallecoy" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Doreen Troyer's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;</span></a></td>
        <TD><a href="crystallecoy@gmail.com">Email Crystal Lecoy</a></TD>
    </TR>
    <TR>
        <td><a href="https://www.linkedin.com/in/doreentroyer" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Doreen Troyer's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;</span></a></td>
        <TD><a href="ddtroyer@gmail.com">Email Doreen Troyer</a></TD>
    </TR>
</TABLE>
