@using System
@using FinalProject_WhatsAPPening.Models;
@using FinalProject_WhatsAPPening;
@using Microsoft.Ajax.Utilities

@model FinalProject_WhatsAPPening.Models.ResultViewModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    GRAwesome is a team of four developers that joined hands through the Grand Rapids, Grand Circus bootcamp in October 2016.
    Tasked with creating a web application in ten days, team GRAwesome set out to answer the every day question, "What should we do today!?".
    <p>
    Pandering through websites takes time and is often unproductive, leaving you with too many options or events that aren't timely
    or relevent.
    <p>
    WhatsAPPening is designed to provide an eatery and an activity based on input (zipcode, budget, number of guests, etc.),
    taking into account the time of day and location. If for any reason you don't like the outcome, try again! Each result utilizes 
    both the Factual and Ticketmaster API's to generate random results. 
    <p>
    Additionally, you may view the eatery and activity links to purchase tickets, find directions, browse websites and get more information.

    You may contact team GRAwesome at GRAwesome2016@gmail.com. We're for hire! 
    
    Doreen Troyer ddtrouer@gmail.com

    Crystal LeCoy crystallecoy@gmail.com

    Michael Audu michael.audu@aya.yale.edu

    Joe Kosten joekosten@gmail.com
    </p>

<TABLE>
    <TR>
        <TD>Doreen Troyer</TD>
        <TD>Data 2</TD>
    </TR>
    <TR>
        <TD>Crystal LeCoy</TD>
        <TD>Data 4</TD>
    </TR>
    <TR>
        <TD>Michael Audu</TD>
        <TD>Data 6</TD>
    </TR>
    <TR>
        <TD>Joe Kosten</TD>
        <TD>Data 6</TD>
    </TR>
</TABLE>
                            